.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}
.App-LR{
  min-height: 40vh;
  min-width: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around ;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 80s linear ;
  }
  .App-header {
    animation: App-logo-spin infinite 50s linear ;
  }
}

.App-header {
  min-height: 50vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around ;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

    from {

    transform: scale(0.8);
    }
    to {
      transform: scale(1.1);
    }
}
